.head{
    --background: indianred;
    color: burlywood;
}
div.gallery{
    margin: 5px;
    border: 1px solid indianred;
    float: left;
    width: 150px;
}
div.gallery:hover{
    border:1px solid grey;
    width: 150px;
}
div.gallery pic{
    width: 80%;
    height: auto;
}