<ion-header [translucent]="true">
  <ion-toolbar class="header">
    <ion-title>
      Profile
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>
<ion-toolbar class="images">
  <ion-img src="assets/pic/d.jpg"></ion-img>
</ion-toolbar>

<ionic-toolbar>
  <p>Name: Cardric Bacungan</p>
  <p>Address: Sawang Jugaban, Carigara, Leyte</p>
  <p>Age: 20 years old</p>
  <p>Birthday: June 12, 2000</p>
  <p>Gender: Male</p>
  <p>Status: Single</p>
  <p>Religion: Roman Catholic</p>
</ionic-toolbar>
 
</ion-content>
