.header{
    --background: indianred;
    color: rgb(248, 231, 209);
}
p{
    margin-left: 30%;
    font-size: 20px;
    font-family: oblique;
    font-style: unset;
}
ion-img{
    margin-left: 25%;
    height: 230px;
    width: 700px;
}