<ion-header [translucent]="true">
  <ion-toolbar  class="head1">
    <ion-title>
      Contact
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
   <ion-toolbar>
     <ion-title size="large">Tab 3</ion-title>
   </ion-toolbar>
 </ion-header>
<ion-card>
  <img src="assets/pic/4.jpeg" alt="coudnt load image " width="90" height="80">
  <big>Instagram: Cardric Bacungan</big>
</ion-card>
<ion-card>
  <img src="assets/pic/2.jpeg" alt="coudnt load image" width="90" height="80">
  <big>Contact Number: +639358349129</big>
</ion-card>
<ion-card>
  <img src="assets/pic/1.png" alt="coudnt load image" width="90" height="80">
  <big>Facebook: Dric Bacungan</big>
</ion-card>
<ion-card>
  <img src="assets/pic/3.png" alt="coudnt load image" width="90" height="80">
  <big>Gmail: bacungancardric12@gmail.com</big>
</ion-card>

</ion-content>
 

