.head1{
    --background: indianred;
    color: burlywood;
}big{
    font-size: 40px;
    margin-left: 25px;
}
ion-card{
    margin-left: 175px;
    width: 80%;
}
ion-card:hover{
    border: 1px solid burlywood;
    width: 85%;

}